
.NavbarStyles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.NavbarBrandStyles{

}

.NavbarBrandStyles img {
    height: 3rem;
}


.NavbarEndStyles{
    display: flex;
    align-items: center;
}

.NavbarEndStyles button {
    background-color: #005073;
    color: #ffffff;
    padding: 0.5rem 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    /* text-transform: uppercase; */
    font-weight: bold;
}

.NavbarEndStyles button:hover {
    background-color: #0077C4;
}

.NavbarItemStyles {
    color: #333333;
    /* text-decoration: none; */
    margin: 10px;
    /* padding: 2rem rem; */
    /* border-radius: 20%; */
    border-radius: 20px;
}

.NavbarItemStyles:hover {
    color: #333333;
}

.NavbarItemStyles:hover::after {
    color: black
}

/* Theme stuff */

.TwixtorText {
    display: flexbox;
    padding: 1rem;
    align-content: center;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
}

.TwixtorTitle {
    margin: 10px 10px;
    text-align: left;
    padding: 1rem 1rem;
    border: black;
}

.TwixtorMainTitle {
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 50px;
    text-shadow: white;
    font-family: 'Fira Mono', monospace;
}

.TwixtorMainDescriptionText {
    position: relative;
    top: 150px;
    left: 30px;
    font-size: 20px;
    text-shadow: 1px 1px rgb(255, 255, 255, 10);
}

.TwixtorIcon {
    width: 10rem;
}

.TwixtorBackground {
    position: relative;
}

.TwixtorBackgroundImage{
    width: 100%;
    position: relative;
}

.TwixtorCard {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

/* The main section / content */
.ContentGutterSpacing {
    position: relative;
    height: 400px;
    top: -350px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 60%);
}


.ContentBase {
    position: relative;
    top: -500px;
    animation: card_scroll_up 20s cubic-bezier(0.1, 0.82, 0.9, 1);
}

@keyframes card_scroll_up {
    from {transform: translate(0, 200px);}
    to {transform: translate(0, 0px);}
}


.ContentData {
    
}


/* Section for media for content */

@media (min-width: 600px) and (max-width: 1100px) {
    
}

/*  sign up section */

.PreSignUpMain {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 3rem;
    top: -22rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, white 60%);
}

.SignUpBase {
    width: 100%;
    height: 30rem;
    position: relative;
    top: -20rem;
    /* top: -10rem; */
    /* z-index: 10; */
    padding: 3rem;
}

.SignUpMainImage {
    position: relative;
    top: -30rem;
    left: 0;
    width: 100%;
    z-index: 1;
    animation: card_scroll_up 20s cubic-bezier(0.1, 0.82, 0.9, 1);
}

.SignupContent {
    position: inherit;
    top: -10rem;
    padding: 1rem 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.SignUpButton {
    position: inherit;
}

/* comparisons */

.ComparisonBase {
    position: relative;
    top: -2rem;
    width: 100%;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 23% repeat(2, minmax(33%, auto));
    grid-template-rows: auto;
    max-width: 100%;
    background-color: white;
}

.ComparisonDescription {
    margin: 10px;
    padding: 10px;
    line-height: auto;
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    align-self: center;
    box-shadow: 1px 1px 1px 1px rgb(78, 78, 78);
}

.ComparisonDescription h1 {
    font-size: larger;
    text-shadow: 0px  1px 0px black;
    text-decoration: underline;
}

.ComparisonContent {
    width: 100%;
    /* margin: 10px; */
    display: inline-flex;
    padding: 10px;
}

.ComparisonContentImage {
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.ComparisonBase h2{
    font-family: 'Ubuntu Mono', monospace;
    position: inherit;
}


/* subsection */

.SubsectionStyles {
  margin: 2rem 0;
}

.SubsectionStyles.h2{
font-size: 2rem;
margin-bottom: 1rem;
}

.SubsectionStyles.p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.SignUpButton {
    background-color: #00FFFF; 
    color: #000000; 
    padding: 0.5rem 1rem; 
    border-radius: 4px;
}


/*  general stuff */

.FadeInTop {
    background: linear-gradient(to bottom, #000105 30%, white 80%);
    position: absolute;
    top: -20rem;
    height: 20rem;
    width: 100%;
    z-index: -100;
}


